* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  cursor: pointer;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 10rem;
  color: black;
}

header img {
  width: 60px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo-container img {
  width: 60px;
}

.logo-container span {
  margin-left: 10px;
  font-size: 30px;
  font-weight: bold;
}

nav a {
  margin: 0 2rem;
  color: black;
  text-decoration: none;
}

button {
  padding: 10px;
  width: 130px;
  cursor: pointer;
  background-color: #2a60e4;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-left: 2rem;
}

button:hover {
  background-color: #6662ff;
  transition: 0.7s;
}

button a {
  color: #cfcfcf;
  text-align: center;
}

@media screen and (max-width: 1070px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10rem;
  }

  header img {
    width: 70px;
  }

  nav a {
    margin: 0 0.5rem;
  }

  button {
    padding: 10px;
    width: 90px;
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 784px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5rem;
  }

  header img {
    width: 60px;
  }

  nav a {
    margin: 0 0.5rem;
  }

  button {
    padding: 5px;
    width: 80px;
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 604px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  header img {
    width: 60px;
  }

  nav a {
    margin: 0 0.3rem;
  }

  button {
    padding: 5px;
    width: 80px;
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 500px) {
  header {
    padding: 0 1rem;
  }

  header img {
    width: 60px;
  }

  nav a {
    margin: 0 0.2rem;
  }

  button {
    padding: 5px;
    width: 80px;
    margin-left: 0.5rem;
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 460px) {
  header {
    padding: 0 1rem;
  }

  header img {
    width: 50px;
  }

  nav a {
    margin: 0 0.2rem;
    font-size: small;
  }

  button {
    padding: 4px;
    width: 80px;
    margin-left: 0.5rem;
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 385px) {
  header {
    padding: 0 1rem;
  }

  header img {
    width: 50px;
  }

  nav a {
    margin: 0 0.1rem;
    font-size: smaller;
  }

  button {
    padding: 4px;
    width: 40px;
    margin-left: 0.5rem;
    font-size: 0.6rem;
  }
}
