* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.footer-container {
  background-color: black;
  /* position: absolute; */
  margin-top: auto;
  width: 100vw;
}

.footer {
  position: sticky;
  top: 100%;
  height: 8vh;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-img img {
  width: 100px;
  margin-top: 4rem;
}

.footer-text p {
  font-size: smaller;
  color: dimgray;
}

@media screen and (max-width: 500px) {
  .footer {
    flex-direction: row;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-text {
    margin-top: 0rem;
  }

  .footer-img img {
    width: 80px;
    margin-top: 2rem;
  }

  .footer-text p {
    font-size: 12px;
    text-align: center;
  }

  .footer-container {
    background-color: black;
    padding-bottom: 2rem;
    /* position: absolute; */
    margin-top: auto;
    width: 100vw;
  }
}
